<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.charjin.shoppingserver.mapper.OsCartMapper">
    <resultMap id="BaseResultMap" type="top.charjin.shoppingserver.entity.OsCart">
        <!--@mbg.generated-->
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <id column="goods_id" jdbcType="INTEGER" property="goodsId"/>
        <result column="number" jdbcType="INTEGER" property="number"/>
        <result column="plan" jdbcType="VARCHAR" property="plan"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        user_id, goods_id, `number`, `plan`
    </sql>
    <select id="selectByPrimaryKey" parameterType="map" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from os_cart
        where user_id = #{userId,jdbcType=INTEGER}
        and goods_id = #{goodsId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="map">
        <!--@mbg.generated-->
        delete from os_cart
        where user_id = #{userId,jdbcType=INTEGER}
        and goods_id = #{goodsId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="top.charjin.shoppingserver.entity.OsCart">
        <!--@mbg.generated-->
        insert into os_cart (user_id, goods_id, `number`,
        `plan`)
        values (#{userId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{number,jdbcType=INTEGER},
        #{plan,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="top.charjin.shoppingserver.entity.OsCart">
        <!--@mbg.generated-->
        insert into os_cart
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                user_id,
            </if>
            <if test="goodsId != null">
                goods_id,
            </if>
            <if test="number != null">
                `number`,
            </if>
            <if test="plan != null">
                `plan`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId,jdbcType=INTEGER},
            </if>
            <if test="goodsId != null">
                #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="number != null">
                #{number,jdbcType=INTEGER},
            </if>
            <if test="plan != null">
                #{plan,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="top.charjin.shoppingserver.entity.OsCart">
        <!--@mbg.generated-->
        update os_cart
        <set>
            <if test="number != null">
                `number` = #{number,jdbcType=INTEGER},
            </if>
            <if test="plan != null">
                `plan` = #{plan,jdbcType=VARCHAR},
            </if>
        </set>
        where user_id = #{userId,jdbcType=INTEGER}
        and goods_id = #{goodsId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="top.charjin.shoppingserver.entity.OsCart">
        <!--@mbg.generated-->
        update os_cart
        set `number` = #{number,jdbcType=INTEGER},
        `plan` = #{plan,jdbcType=VARCHAR}
        where user_id = #{userId,jdbcType=INTEGER}
        and goods_id = #{goodsId,jdbcType=INTEGER}
    </update>


</mapper>