<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.charjin.shoppingserver.mapper.OsGoodsMapper">
    <resultMap id="BaseResultMap" type="top.charjin.shoppingserver.entity.OsGoods">
        <!--@mbg.generated-->
        <id column="goods_id" jdbcType="INTEGER" property="goodsId"/>
        <result column="goods_type_id" jdbcType="INTEGER" property="goodsTypeId"/>
        <result column="shop_id" jdbcType="INTEGER" property="shopId"/>
        <result column="goodsName" jdbcType="VARCHAR" property="goodsName"/>
        <result column="image" jdbcType="VARCHAR" property="image"/>
        <result column="price" jdbcType="FLOAT" property="price"/>
        <result column="sales_volume" jdbcType="SMALLINT" property="salesVolume"/>
        <result column="region" jdbcType="VARCHAR" property="region"/>
        <result column="description" jdbcType="VARCHAR" property="description"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        goods_id, goods_type_id, shop_id, goods_name, image, price, sales_volume, region, description
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from os_goods
        where goods_id = #{goodsId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from os_goods
        where goods_id = #{goodsId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="goods_id" keyProperty="goodsId"
            parameterType="top.charjin.shoppingserver.entity.OsGoods" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into os_goods (goods_type_id, shop_id, goods_name,
        image, price, sales_volume,
        region, description)
        values (#{goodsTypeId,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR},
        #{image,jdbcType=VARCHAR}, #{price,jdbcType=FLOAT}, #{salesVolume,jdbcType=SMALLINT},
        #{region,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="goods_id" keyProperty="goodsId"
            parameterType="top.charjin.shoppingserver.entity.OsGoods" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into os_goods
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="goodsTypeId != null">
                goods_type_id,
            </if>
            <if test="shopId != null">
                shop_id,
            </if>
            <if test="goodsName != null">
                goods_name,
            </if>
            <if test="image != null">
                image,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="salesVolume != null">
                sales_volume,
            </if>
            <if test="region != null">
                region,
            </if>
            <if test="description != null">
                description,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="goodsTypeId != null">
                #{goodsTypeId,jdbcType=INTEGER},
            </if>
            <if test="shopId != null">
                #{shopId,jdbcType=INTEGER},
            </if>
            <if test="goodsName != null">
                #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="image != null">
                #{image,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=FLOAT},
            </if>
            <if test="salesVolume != null">
                #{salesVolume,jdbcType=SMALLINT},
            </if>
            <if test="region != null">
                #{region,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="top.charjin.shoppingserver.entity.OsGoods">
        <!--@mbg.generated-->
        update os_goods
        <set>
            <if test="goodsTypeId != null">
                goods_type_id = #{goodsTypeId,jdbcType=INTEGER},
            </if>
            <if test="shopId != null">
                shop_id = #{shopId,jdbcType=INTEGER},
            </if>
            <if test="goodsName != null">
                goods_name = #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="image != null">
                image = #{image,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=FLOAT},
            </if>
            <if test="salesVolume != null">
                sales_volume = #{salesVolume,jdbcType=SMALLINT},
            </if>
            <if test="region != null">
                region = #{region,jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
        </set>
        where goods_id = #{goodsId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="top.charjin.shoppingserver.entity.OsGoods">
        <!--@mbg.generated-->
        update os_goods
        set goods_type_id = #{goodsTypeId,jdbcType=INTEGER},
        shop_id = #{shopId,jdbcType=INTEGER},
        goods_name = #{goodsName,jdbcType=VARCHAR},
        image = #{image,jdbcType=VARCHAR},
        price = #{price,jdbcType=FLOAT},
        sales_volume = #{salesVolume,jdbcType=SMALLINT},
        region = #{region,jdbcType=VARCHAR},
        description = #{description,jdbcType=VARCHAR}
        where goods_id = #{goodsId,jdbcType=INTEGER}
    </update>

    <resultMap extends="BaseResultMap" id="BaseResultMapGoodsModel"
               type="top.charjin.shoppingserver.model.OsGoodsModel">
        <result column="number" jdbcType="INTEGER" property="goodsNum"/>
    </resultMap>

    <select id="selectGoodsByShopId" parameterType="integer" resultMap="BaseResultMapGoodsModel">
        select os_goods.goods_id,
               goods_type_id,
               os_goods.shop_id,
               os_goods.goods_name,
               image,
               price,
               sales_volume,
               region,
               description,
               number
        from os_cart,
             os_shop,
             os_goods
        where os_cart.goods_id = os_goods.goods_id
          and os_shop.shop_id = os_goods.shop_id
          and os_cart.user_id = #{userId}
          and os_shop.shop_id = #{shopId}
    </select>
    <select id="getGoodsByKey" resultMap="BaseResultMap">
        select *
        from os_goods
        where goods_name like concat('%', #{key,jdbcType=VARCHAR}, '%')

    </select>
    <select id="selectAllGoods" resultMap="BaseResultMap">
        select *
        from os_goods
    </select>
    <select id="getAllGoodsByShopId" resultMap="BaseResultMap">
        select *
        from os_goods
        where shop_id = #{shopId}
    </select>
</mapper>