<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.charjin.shoppingserver.mapper.OsOrderDetailMapper">
    <resultMap id="BaseResultMap" type="top.charjin.shoppingserver.entity.OsOrderDetail">
        <!--@mbg.generated-->
        <id column="order_detail_id" jdbcType="INTEGER" property="orderDetailId"/>
        <result column="order_id" jdbcType="INTEGER" property="orderId"/>
        <result column="goods_id" jdbcType="INTEGER" property="goodsId"/>
        <result column="goods_name" jdbcType="VARCHAR" property="goodsName"/>
        <result column="goods_price" jdbcType="FLOAT" property="goodsPrice"/>
        <result column="goods_mode" jdbcType="VARCHAR" property="goodsMode"/>
        <result column="goods_mode_params" jdbcType="VARCHAR" property="goodsModeParams"/>
        <result column="goods_num" jdbcType="INTEGER" property="goodsNum"/>
        <result column="goods_amount_total" jdbcType="FLOAT" property="goodsAmountTotal"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="is_exists" jdbcType="BOOLEAN" property="isExists"/>

        <association property="goods" javaType="top.charjin.shoppingserver.entity.OsGoods">
            <id column="goods_id" jdbcType="INTEGER" property="goodsId"/>
            <result column="goods_type_id" jdbcType="INTEGER" property="goodsTypeId"/>
            <result column="shop_id" jdbcType="INTEGER" property="shopId"/>
            <result column="name" jdbcType="VARCHAR" property="name"/>
            <result column="image" jdbcType="VARCHAR" property="image"/>
            <result column="price" jdbcType="FLOAT" property="price"/>
            <result column="sales_volume" jdbcType="SMALLINT" property="salesVolume"/>
            <result column="region" jdbcType="VARCHAR" property="region"/>
            <result column="description" jdbcType="VARCHAR" property="description"/>
        </association>
    </resultMap>


    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        order_detail_id, order_id, goods_id, goods_name, goods_price, goods_mode, goods_mode_params,
        goods_num, goods_amount_total, remark, is_exists
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from os_order_detail
        where order_detail_id = #{orderDetailId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from os_order_detail
        where order_detail_id = #{orderDetailId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="order_detail_id" keyProperty="orderDetailId"
            parameterType="top.charjin.shoppingserver.entity.OsOrderDetail" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into os_order_detail (order_id, goods_id, goods_name,
        goods_price, goods_mode, goods_mode_params,
        goods_num, goods_amount_total, remark,
        is_exists)
        values (#{orderId,jdbcType=INTEGER}, #{goodsId,jdbcType=INTEGER}, #{goodsName,jdbcType=VARCHAR},
        #{goodsPrice,jdbcType=FLOAT}, #{goodsMode,jdbcType=VARCHAR}, #{goodsModeParams,jdbcType=VARCHAR},
        #{goodsNum,jdbcType=INTEGER}, #{goodsAmountTotal,jdbcType=FLOAT}, #{remark,jdbcType=VARCHAR},
        #{isExists,jdbcType=BOOLEAN})
    </insert>
    <insert id="insertSelective" keyColumn="order_detail_id" keyProperty="orderDetailId"
            parameterType="top.charjin.shoppingserver.entity.OsOrderDetail" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into os_order_detail
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="orderId != null">
                order_id,
            </if>
            <if test="goodsId != null">
                goods_id,
            </if>
            <if test="goodsName != null">
                goods_name,
            </if>
            <if test="goodsPrice != null">
                goods_price,
            </if>
            <if test="goodsMode != null">
                goods_mode,
            </if>
            <if test="goodsModeParams != null">
                goods_mode_params,
            </if>
            <if test="goodsNum != null">
                goods_num,
            </if>
            <if test="goodsAmountTotal != null">
                goods_amount_total,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="isExists != null">
                is_exists,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="orderId != null">
                #{orderId,jdbcType=INTEGER},
            </if>
            <if test="goodsId != null">
                #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="goodsName != null">
                #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="goodsPrice != null">
                #{goodsPrice,jdbcType=FLOAT},
            </if>
            <if test="goodsMode != null">
                #{goodsMode,jdbcType=VARCHAR},
            </if>
            <if test="goodsModeParams != null">
                #{goodsModeParams,jdbcType=VARCHAR},
            </if>
            <if test="goodsNum != null">
                #{goodsNum,jdbcType=INTEGER},
            </if>
            <if test="goodsAmountTotal != null">
                #{goodsAmountTotal,jdbcType=FLOAT},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="isExists != null">
                #{isExists,jdbcType=BOOLEAN},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="top.charjin.shoppingserver.entity.OsOrderDetail">
        <!--@mbg.generated-->
        update os_order_detail
        <set>
            <if test="orderId != null">
                order_id = #{orderId,jdbcType=INTEGER},
            </if>
            <if test="goodsId != null">
                goods_id = #{goodsId,jdbcType=INTEGER},
            </if>
            <if test="goodsName != null">
                goods_name = #{goodsName,jdbcType=VARCHAR},
            </if>
            <if test="goodsPrice != null">
                goods_price = #{goodsPrice,jdbcType=FLOAT},
            </if>
            <if test="goodsMode != null">
                goods_mode = #{goodsMode,jdbcType=VARCHAR},
            </if>
            <if test="goodsModeParams != null">
                goods_mode_params = #{goodsModeParams,jdbcType=VARCHAR},
            </if>
            <if test="goodsNum != null">
                goods_num = #{goodsNum,jdbcType=INTEGER},
            </if>
            <if test="goodsAmountTotal != null">
                goods_amount_total = #{goodsAmountTotal,jdbcType=FLOAT},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="isExists != null">
                is_exists = #{isExists,jdbcType=BOOLEAN},
            </if>
        </set>
        where order_detail_id = #{orderDetailId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="top.charjin.shoppingserver.entity.OsOrderDetail">
        <!--@mbg.generated-->
        update os_order_detail
        set order_id = #{orderId,jdbcType=INTEGER},
        goods_id = #{goodsId,jdbcType=INTEGER},
        goods_name = #{goodsName,jdbcType=VARCHAR},
        goods_price = #{goodsPrice,jdbcType=FLOAT},
        goods_mode = #{goodsMode,jdbcType=VARCHAR},
        goods_mode_params = #{goodsModeParams,jdbcType=VARCHAR},
        goods_num = #{goodsNum,jdbcType=INTEGER},
        goods_amount_total = #{goodsAmountTotal,jdbcType=FLOAT},
        remark = #{remark,jdbcType=VARCHAR},
        is_exists = #{isExists,jdbcType=BOOLEAN}
        where order_detail_id = #{orderDetailId,jdbcType=INTEGER}
    </update>
</mapper>