<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.charjin.shoppingserver.mapper.OsUserMapper">
    <resultMap id="BaseResultMap" type="top.charjin.shoppingserver.entity.OsUser">
        <!--@mbg.generated-->
        <id column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="head_portrait" jdbcType="VARCHAR" property="headPortrait"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="nickname" jdbcType="VARCHAR" property="nickname"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="sex" jdbcType="VARCHAR" property="sex"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
    </resultMap>
    <sql id="Base_Column_List">
        <!--@mbg.generated-->
        user_id, head_portrait, username, nickname, `password`, real_name, sex, phone
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        <!--@mbg.generated-->
        select
        <include refid="Base_Column_List"/>
        from os_user
        where user_id = #{userId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        <!--@mbg.generated-->
        delete from os_user
        where user_id = #{userId,jdbcType=INTEGER}
    </delete>
    <insert id="insert" keyColumn="user_id" keyProperty="userId"
            parameterType="top.charjin.shoppingserver.entity.OsUser" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into os_user (head_portrait, username, nickname,
        `password`, real_name, sex,
        phone)
        values (#{headPortrait,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{nickname,jdbcType=VARCHAR},
        #{password,jdbcType=VARCHAR}, #{realName,jdbcType=VARCHAR}, #{sex,jdbcType=VARCHAR},
        #{phone,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="user_id" keyProperty="userId"
            parameterType="top.charjin.shoppingserver.entity.OsUser" useGeneratedKeys="true">
        <!--@mbg.generated-->
        insert into os_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="headPortrait != null">
                head_portrait,
            </if>
            <if test="username != null">
                username,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="password != null">
                `password`,
            </if>
            <if test="realName != null">
                real_name,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="phone != null">
                phone,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="headPortrait != null">
                #{headPortrait,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                #{username,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="realName != null">
                #{realName,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="top.charjin.shoppingserver.entity.OsUser">
        <!--@mbg.generated-->
        update os_user
        <set>
            <if test="headPortrait != null">
                head_portrait = #{headPortrait,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="realName != null">
                real_name = #{realName,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
        </set>
        where user_id = #{userId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="top.charjin.shoppingserver.entity.OsUser">
        <!--@mbg.generated-->
        update os_user
        set head_portrait = #{headPortrait,jdbcType=VARCHAR},
        username = #{username,jdbcType=VARCHAR},
        nickname = #{nickname,jdbcType=VARCHAR},
        `password` = #{password,jdbcType=VARCHAR},
        real_name = #{realName,jdbcType=VARCHAR},
        sex = #{sex,jdbcType=VARCHAR},
        phone = #{phone,jdbcType=VARCHAR}
        where user_id = #{userId,jdbcType=INTEGER}
    </update>


    <update id="updateByUserNamePwdSelective">
        update os_user
        <set>
            <if test="headPortrait != null">
                head_portrait = #{headPortrait,jdbcType=VARCHAR},
            </if>
            <if test="username != null">
                username = #{username,jdbcType=VARCHAR},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                `password` = #{password,jdbcType=VARCHAR},
            </if>
            <if test="realName != null">
                real_name = #{realName,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
        </set>
        where username = #{username,jdbcType=VARCHAR} and password = #{password,jdbcType=VARCHAR}
    </update>

    <select id="selectByUsernamePwd" resultMap="BaseResultMap">
        select *
        from os_user
        where username = #{username}
          and password = #{password}
    </select>

</mapper>